body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Arka plan rengi */
}

.container {
    position: relative;
    width: 300px; /* Konteyner genişliği */
    height: 300px; /* Konteyner yüksekliği */
}

.circle {
    position: absolute;
    border-radius: 50%; /* Daire oluşturmak için */
    opacity: 0.6; /* Şeffaflık */
}

/* Koyu Sarı Daire */
.circle1 {
    width: 150px; /* Dairenin genişliği */
    height: 150px; /* Dairenin yüksekliği */
    background-color: rgba(255, 204, 0, 0.6); /* Koyu Sarı */
    top: 20px; /* Üstten uzaklık */
    left: 30px; /* Soldan uzaklık */
}

/* Koyu Kırmızı Daire */
.circle2 {
    width: 150px; /* Dairenin genişliği */
    height: 150px; /* Dairenin yüksekliği */
    background-color: rgba(204, 0, 0, 0.6); /* Koyu Kırmızı */
    top: 100px; /* Üstten uzaklık */
    left: 70px; /* Soldan uzaklık */
}

/* Koyu Mavi Daire */
.circle3 {
    width: 150px; /* Dairenin genişliği */
    height: 150px; /* Dairenin yüksekliği */
    background-color: rgba(0, 0, 204, 0.6); /* Koyu Mavi */
    top: 30px; /* Üstten uzaklık */
    left: 110px; /* Soldan uzaklık */
}
